<section>
  <mat-card appearance="outlined" [class.fullWidth]="smallDevice">
    <mat-card-header>
      <mat-card-title> It´s time to start a Workout! </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Select Exercise</mat-label>
        <mat-select>
          <mat-option value="Exercise">
            Push-Ups
          </mat-option>
          <mat-option value="Exercise">
            Squats
          </mat-option>
          <mat-option value="Exercise">
            Pull-Ups
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button type="submit" (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
