@use '@angular/material' as mat;

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    button {
        @include mat.button-overrides((
            filled-container-color: #ba1a1a,
            filled-label-text-color: white,
        ));
    }
}