.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.large{
    flex-direction: row;
    gap: 32px;
}