@use '@angular/material' as mat;

mat-toolbar {
    gap: 16px;

    @include mat.toolbar-overrides((
        container-background-color: #005cbb,
        container-text-color: white,
    ));

    mat-icon {
        
        color: white;

        &:hover {
            color: lightgrey
        }
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        list-style-type: none;

        li {

            &:hover {
                cursor: pointer;
                color: lightgrey;
            }
        }
    }
}
