<mat-toolbar role="heading">
    @if (showBurgerMenu) {
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>list</mat-icon>
        </button>
    }
    <span routerLink="">Logo</span>
    @if (showToolbarLinks) {
        <ul>
            @if(isAuthenticated){
                <li routerLink='/training'>Training</li>
                <li>Logout</li>
            } @else {
                <li routerLink='/signup'>Signup</li>
                <li routerLink='/login'>Login</li>
            }
            
        </ul>
    }
</mat-toolbar>
